@font-face {
    font-family: 'Flama-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Flama-Light'), url('Flama-Light/Flama-Light.woff') format('woff');
}
@font-face {
    font-family: 'Flama-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Flama-Medium'), url('Flama-Medium/Flama-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Flama-LightItalic';
    font-style: normal;
    font-weight: normal;
    src: local('Flama-LightItalic'), url('Flama-Light-Italic/Flama-LightItalic.woff') format('woff');
}

.ir {            
    text-indent: -9999px;
}

body {
    font-family: 'Flama-Light';
    font-size: 16px;
}
h1.logo {    
    margin: 0;
    padding: 0;
    position: absolute;    
    top: -10px;
    left: 0;
}
h1.logo a {
    background: url('../images/tesda_logo.png') no-repeat;
    display: block;
    height: 64px;
    width: 298px;
}

.burger-container, .menu.mobile, .shop.icon {
    position: absolute;
}
.topbar {
    background: #081e43;
    padding: 15px 0 25px 0;    
}
.topbar .container {
     position: relative; 
}
.topbar .secondary.menu a {
    color: #7f8187;    
    font-size: 14px;
    margin: 0!important;
    text-transform: uppercase;
}
.topbar .secondary.menu .right a:hover,
.topbar .secondary.menu .right a.active,
.topbar .secondary.menu .right a.active:hover {
    color: #3366ff;
}
.topbar.header .menu.mobile {
    display: none;
}
.the-header  .menu.mobile {
    display: none!important;
}
.hero {        
    background: url('../images/hero.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: auto;
    margin-bottom: 40px;    
}
.hero .content {    
    padding: 20px 0 30px;
    height: auto;
}
.hero .inner-content {
    overflow: hidden;
    padding: 30px 0;
}
.hero .inner-content img {
    border: 6px solid #fff;
    border-radius: 50%;
    display: block;
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0;
    height: 180px;
    width: 170px;    
}
.hero .content .the-message {
    color: #fff;
    font-family: 'Flama-Light';
    font-size: 16px;
    float: right;
    padding-left: 40px;
    padding-top: 20px;
    width: 80%;
}
.hero .content .intro {
    font-family: 'Flama-LightItalic';
    font-size: 18px;
}
.hero .content .name {
    font-family: 'Flama-Medium';
    padding: 20px 0 0 0;
    margin: 0;
}
main .content img {
    display: block;
    width: 100%;
}
main .courses {
    font-family: 'Flama-Light';
}
main .courses h3 {
    font-family: 'Flama-Light';
    font-size: 24px;
    text-transform: uppercase;
}
main .courses .readmore {
    background: #3366ff;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    margin-top: 10px;
    padding: 5px 15px;
    text-transform: uppercase;
}
main .courses .readmore:hover {
    background: #4d79ff;
}
main .courses {    
    padding-bottom: 40px!important;
    position: relative;
}
main .courses a.viewallcourses {    
    font-family: 'Flama-LightItalic';
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
}
main .courses a.viewallcourses:hover,
main .courses a.viewallcourses:hover i.angle { 
    color: #3366ff;
    cursor: pointer;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
.courses .ui.blue.label {
    background: #3366ff!important;
}
.courses .ui.blue.label:hover {
    background: #4d79ff!important;
    transition: background-color ease 0.5s;
}
.bottom-container {
    background: #e1e1e1;
    margin-top: 40px;
    padding-top: 30px;
}

.bottom-container h3.ui.header {
    border-bottom: 1px solid #fff;
    font-family: 'Flama-Light';    
    font-size: 24px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.block-container .block {
    font-family: 'Flama-Light';    
}
.bottom-container .block p.date {
    font-family: 'Flama-LightItalic';
}
.bottom-container .block a {
    color: #000;
    font-family: 'Flama-Light';
    font-size: 18px;
    text-transform: uppercase;
}
.bottom-container .block a:hover {
    color: #4d79ff;
}
.block .item,
.block .faq-content {
    border-bottom: 1px dotted #999;
    margin-bottom: 10px;    
    padding-bottom: 10px;
}
.block .faq-content:hover {        
    cursor: pointer;
}
.block .faq-content:hover h4 {     
    color: #4d79ff;
}
.block .faq-content a {
    text-transform: none;
}
.bottom .owl-nav {  
    display: none;  
}
.bottom .owl-dot span {    
    height: 15px!important;
    width: 15px!important;
}
footer {
    color: #7f8187; 
    background: #081E43;
    padding: 30px 0 0 0;
    position: relative;;
}
footer .content {
    overflow: hidden;        
    position: relative;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;    
    position: absolute;
    right: 0;
    top: 0;
}
footer li {
    border-left: 1px solid #888;
    display: inline-block;    
    padding: 0 10px;
}
footer li:first-child {
    border-left: 0;
}
footer li a {
    color: #7f8187; 
}