/* line 10, ../scss/main.scss */
h1 {
  font-size: 24px;
}

/* line 13, ../scss/main.scss */
h2 {
  font-size: 22px;
}

/* line 16, ../scss/main.scss */
h3 {
  font-size: 18px;
}

/* line 19, ../scss/main.scss */
h4 {
  font-size: 16px;
}

/* line 22, ../scss/main.scss */
h5 {
  font-size: 14px;
}

@font-face {
  font-family: 'Flama-Light';
  font-weight: normal;
  font-style: normal;
  src: local("Flama-Light"), url("Flama-Light/Flama-Light.woff") format("woff");
}
@font-face {
  font-family: 'Flama-Medium';
  font-weight: normal;
  font-style: normal;
  src: local("Flama-Medium"), url("Flama-Medium/Flama-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Flama-LightItalic';
  font-weight: normal;
  font-style: normal;
  src: local("Flama-LightItalic"), url("Flama-Light-Italic/Flama-LightItalic.woff") format("woff");
}
/* line 51, ../scss/main.scss */
html {
  position: relative;
}

/* line 54, ../scss/main.scss */
body {
  font-family: 'Flama-Light';
  padding-top: 90px;
}

/* line 59, ../scss/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Flama-Medium';
}

/* line 63, ../scss/main.scss */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
}

/* line 69, ../scss/main.scss */
a {
  color: #7f8187;
}
/* line 71, ../scss/main.scss */
a:hover, a.active {
  color: orange;
}

/* line 77, ../scss/main.scss */
.logo {
  background: url("../images/TESDAWeb_02.jpg") no-repeat;
  height: 156px;
  width: 156px;
  z-index: 1;
}

/* line 85, ../scss/main.scss */
.topbar {
  background: #081E43;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* line 95, ../scss/main.scss */
nav ul {
  list-style: none;
}
/* line 98, ../scss/main.scss */
nav li {
  display: inline-block;
  line-height: 5.5;
  margin-left: 15px;
}
/* line 103, ../scss/main.scss */
nav a {
  font-family: 'Flama-Medium';
  text-transform: uppercase;
}

/* line 108, ../scss/main.scss */
.slide-image {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 124, ../scss/main.scss */
.flexslider {
  border: 0;
}

/* line 127, ../scss/main.scss */
.flex-direction-nav {
  display: none;
}

/* line 130, ../scss/main.scss */
.flex-nav-prev a,
.flex-nav-next a {
  display: block;
  height: 60px;
  width: 40px;
}

/* line 136, ../scss/main.scss */
.slider {
  background: none;
  height: 540px !important;
  margin: 0;
}

/* line 141, ../scss/main.scss */
main {
  padding-top: 20px;
}
/* line 143, ../scss/main.scss */
main h2 {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
/* line 148, ../scss/main.scss */
main .program-offerings {
  margin-top: 20px;
}
/* line 150, ../scss/main.scss */
main .program-offerings img {
  width: 100%;
}
/* line 153, ../scss/main.scss */
main .program-offerings .card {
  border: 0;
}
/* line 156, ../scss/main.scss */
main .program-offerings .card-divider {
  height: 82px;
}
/* line 159, ../scss/main.scss */
main .program-offerings h3 {
  text-align: center;
  text-transform: uppercase;
}
/* line 164, ../scss/main.scss */
main .view {
  display: block;
  font-size: 20px;
  font-family: 'Flama-Medium';
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/* line 173, ../scss/main.scss */
.news-and-events {
  background: #e1e1e1;
  margin-top: 30px;
  padding: 30px 0;
}
/* line 177, ../scss/main.scss */
.news-and-events h2 {
  padding-bottom: 20px;
}
/* line 180, ../scss/main.scss */
.news-and-events .column {
  background: #e1e1e1;
}
/* line 183, ../scss/main.scss */
.news-and-events .card {
  border: none;
}
/* line 186, ../scss/main.scss */
.news-and-events .card-section {
  border: 1px solid #e1e1e1;
}

/* line 191, ../scss/main.scss */
.sucess-stories {
  padding-top: 20px;
}
/* line 193, ../scss/main.scss */
.sucess-stories h2 {
  padding-bottom: 20px;
}
/* line 196, ../scss/main.scss */
.sucess-stories .person-info {
  float: right;
  width: 80%;
}
/* line 200, ../scss/main.scss */
.sucess-stories .person-image {
  border-radius: 50%;
  float: left;
  height: 100px;
  width: 100px;
}
/* line 206, ../scss/main.scss */
.sucess-stories .column {
  overflow: auto;
}
